$primary-bg: rgb(232, 233, 242);
$secondary-bg: rgb(214, 215, 224);
$tertiary-bg: rgb(196, 196, 196);
$quaternary-bg: rgb(178, 178, 178);
$quinary-bg: rgb(160, 160, 160);
$primary-bg-dark: rgb(13, 13, 13);
$primary-text: #{$primary-bg-dark};
$secondary-text: rgb(20, 20, 20);
$tertiary-text: rgb(27, 27, 27);
$quaternary-text: rgb(99, 99, 99);
$border-color: rgb(226, 226, 226);
$accent-1: rgb(95, 105, 241);
$accent-2: rgb(116, 124, 241);
$accent-3: rgb(47, 51, 111);
$accent-4: rgb(182, 185, 233);
$accent-5: rgb(221, 223, 250);
$border-color-1: rgb(234, 234, 234);
$error-color-1: rgb(241, 95, 95);